.background{
  position: fixed;
  background-color: var(--transparent-background);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: -100%;
  transition: all .5s;
  z-index: 88888;
}

.visible{
  left: 0;
}

.content{
  height: fit-content;
  border-radius: var(--size10);
  width: 80%;
  max-width:352px;
  margin: var(--size20) auto;
  background-color: var(--primary);
  padding: var(--size10);
  display: flex;
  flex-direction: column;
}

.buttonsArea{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-top: var(--size10);
  gap: var(--size10);
}

.inputsArea{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  >div{
    width: var(--size40);
  }
}


.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--size10);

  p{
    font-size: 1.4rem;
    font-weight: 700;
  }
  svg{
    color: var(--background);
    transition: all .5s;
    &:hover{
      cursor: pointer;
      color: var(--gray);
    }
  }
}

.error{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--size5) 0;

  p{
    color: var(--bad);
  }
}
