.container{
  display: flex;
  flex-direction: column;
  height: 100%;

  h1{
    margin: var(--size40) auto;
    color: var(--text);
  }
}

.content{
  width: 100%;
  height: calc(100% - 156px);
}

.inputsArea{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: var(--size10);

  >div{
    display: flex;
    flex-direction: row;
  }

  >div:first-child{
    flex: 1;
  }

  >div:last-child{
    margin-left: var(--size10);
    >button:first-child{
      margin-right: var(--size10);
    }
  }

  @media(max-width: 600px){
    flex-direction: column;
    >div:last-child{
      margin-left: 0;
      margin-top: var(--size10);
      justify-content: flex-end;
    }
  }
}

.scrollable{
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: calc(100% - 79px);
}
